In [21]:
print('Nama : Sendy Joan Kevin')
print('NIM : 2041720121')
print('Kelas : TI-3G')

Nama : Sendy Joan Kevin
NIM : 2041720121
Kelas : TI-3G

In [22]:
import pandas as pd
data = pd.read_csv('/data-rekapitulasi-kejadian-banjir-tahun-2020.csv')

In [23]:
print(data)

    bulan  kecamatan  kelurahan rata_rata_ketinggian_air lama_genangan  \
0       1         35        151            10 s.d 350 cm        4 hari
1       2         42        167             5 s.d 200 cm  1 s.d 2 hari
2       3         24         46             5 s.d 160 cm  1 s.d 2 hari
3       4         21         50            10 s.d 130 cm  1 s.d 2 hari
4       5         12         23            10 s.d 200 cm  1 s.d 2 hari
5       6          9         16             5 s.d 120 cm        1 hari
6       7          2          2             20 s.d 50 cm        1 hari
7       8         10         12             10 s.d 80 cm        1 hari
8       9         16         28            10 s.d 130 cm  1 s.d 2 hari
9      10         29         72            10 s.d 180 cm  1 s.d 2 hari
10     11         16         27             10 s.d 60 cm  1 s.d 2 hari
11     12          7          9             10 s.d 80 cm        1 hari

    rw_terdampak  kk_terdampak  jiwa_terdampak  korban_meninggal  \
0            390         22148           83406                19
1            581         12551           43464                 6
2            104          3057            9687                 0
3            106          1059            2966                 0
4             47           891            3117                 0
5             46            80             320                 0
6              4             0               0                 0
7             20             0               0                 0
8             65           414            1300                 0
9            170          1933            6250                 0
10            54             0               0                 0
11            18           250             827                 0

    korban_hilang  korban_luka_berat  korban_luka_ringan  \
0               0                  0                   0
1               0                  0                   0
2               0                  0                   0
3               0                  0                   0
4               0                  0                   0
5               0                  0                   0
6               0                  0                   0
7               0                  0                   0
8               0                  0                   0
9               0                  0                   0
10              0                  0                   0
11              0                  0                   0

    jumlah_jiwa_pengungsi_tertinggi  jumlah_tempat_pengungsian  \
0                             36445                        269
1                             13808                        119
2                               453                         14
3                                75                          2
4                               213                          6
5                               320                          7
6                                 0                          0
7                                 0                          0
8                               104                          5
9                               675                         12
10                                0                          0
11                                0                          0

   jumlah_nilai_kerugian
0                    n.a
1                    n.a
2                    n.a
3                    n.a
4                    n.a
5                    n.a
6                    n.a
7                    n.a
8                    n.a
9                    n.a
10                   n.a
11                   n.a

In [24]:
data.head()

,bulan,kecamatan,kelurahan,rata_rata_ketinggian_air,lama_genangan,rw_terdampak,kk_terdampak,jiwa_terdampak,korban_meninggal,korban_hilang,korban_luka_berat,korban_luka_ringan,jumlah_jiwa_pengungsi_tertinggi,jumlah_tempat_pengungsian,jumlah_nilai_kerugian
0,1,35,151,10 s.d 350 cm,4 hari,390,22148,83406,19,0,0,0,36445,269,n.a
1,2,42,167,5 s.d 200 cm,1 s.d 2 hari,581,12551,43464,6,0,0,0,13808,119,n.a
2,3,24,46,5 s.d 160 cm,1 s.d 2 hari,104,3057,9687,0,0,0,0,453,14,n.a
3,4,21,50,10 s.d 130 cm,1 s.d 2 hari,106,1059,2966,0,0,0,0,75,2,n.a
4,5,12,23,10 s.d 200 cm,1 s.d 2 hari,47,891,3117,0,0,0,0,213,6,n.a

In [25]:
data.columns

Index(['bulan', 'kecamatan', 'kelurahan', 'rata_rata_ketinggian_air',
       'lama_genangan', 'rw_terdampak', 'kk_terdampak', 'jiwa_terdampak',
       'korban_meninggal', 'korban_hilang', 'korban_luka_berat',
       'korban_luka_ringan', 'jumlah_jiwa_pengungsi_tertinggi',
       'jumlah_tempat_pengungsian', 'jumlah_nilai_kerugian'],
      dtype='object')

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   bulan                            12 non-null     int64
 1   kecamatan                        12 non-null     int64
 2   kelurahan                        12 non-null     int64
 3   rata_rata_ketinggian_air         12 non-null     object
 4   lama_genangan                    12 non-null     object
 5   rw_terdampak                     12 non-null     int64
 6   kk_terdampak                     12 non-null     int64
 7   jiwa_terdampak                   12 non-null     int64
 8   korban_meninggal                 12 non-null     int64
 9   korban_hilang                    12 non-null     int64
 10  korban_luka_berat                12 non-null     int64
 11  korban_luka_ringan               12 non-null     int64
 12  jumlah_jiwa_pengungsi_tertinggi  12 non-null     int64
 13  jumlah_tempat_pengungsian        12 non-null     int64
 14  jumlah_nilai_kerugian            12 non-null     object
dtypes: int64(12), object(3)
memory usage: 1.5+ KB