# Data Diri Mahasiswa
Nama : Sendy Joan Kevin
NIM : 2041720121
Kelas : TI-3G

# Naive Bayes dengan Data Kategorikal

Pada percobaan kedua ini, kita akan menggunakan data riil untuk melakukan klasifikasi dengan Naive Bayes. Data yang digunakan adalah **titanic.csv**. Data tersebut menggambarkan apakah seseorang akan selamat dari kecelakaan titanic berdasarkan kelas tiket dan jenis kelamin.

## Inspeksi Data

Pada tahap ini kita akan melakukan loading data dan inspeksi data. Hal ini dilakukan untuk mengetahui apakah kita perlu melakukan proses pendahuluan sebelum melakukan training

In [ ]:
import numpy as np
import pandas as pd

# Load data CSV ke Data Frame
df = pd.read_csv('titanic.csv')

# Cek data
df.head()

   pclass     sex  survived
0       3  female         0
1       1    male         0
2       3    male         0
3       3    male         1
4       3    male         0

Berdasarkan pengecekan data, terdapat data bernilai kategorial pada fitur (variabel) ***company***, ***job***, ***degree***. Kita harus melakukan encoding terhadap nilai dari fitur tersebut. Meskipun secara sekilas nilai kategorial menunjukkan tendesi ke tipe data nominal, namun kita tidak akan menggunakan tendik encoding One Hot Encoder atau Ordinal Encoder. Naive Bayes berkerja berdasarkan prinsip probabilitas berkelompok (_join probability_). 

Hal ini membuat merepresentasikan nilai variabel dalam bentuk encoding sebetulnya tidak terlalu penting. Encoding diperlukan hanya untuk menamai ulang nilai kategori dalam bentuk angka dan kebutuhan library scikit-learn yang menggunakan angka sebagai parameter input.

Percobaan kali ini merupakan penerapan klasik algoritma Naive Bayes. Perhatikan kembali contoh intuisi perhitungan Naive Bayes pada modul Jobsheet 3. Meskipun nilai asli dari fitur tidak diketahui, kita masih dapat melakukan proses klasifikasi dengan Naive Bayes.

## Tahap Persiapan

Pada tahap ini kita akan melakukan beberapa hal, yaitu,

1. Encoding nilai kategorikal untuk kebutuhan training
2. Memisahkan fitur dan label
3. Split data training dan testing

### Encoding

In [ ]:
# Encoding
# Fungsi encoding yang akan digunakan adalah LabelEncoder
# Hal ini karena kita hanya mengganti nilai variabel dari nama berupa string menjadi angka. Sama halnya dengan label

from sklearn.preprocessing import LabelEncoder

# Inisiasi label encoder
encode = LabelEncoder()

# Terpakan label encoder
df['pclass'] = encode.fit_transform(df['pclass'])
df['sex'] = encode.fit_transform(df['sex'])
df['survived'] = encode.fit_transform(df['survived'])

# Cek hasil
df.head()

   pclass  sex  survived
0       2    0         0
1       0    1         0
2       2    1         0
3       2    1         1
4       2    1         0

### Memisahkan Fitur dan Label

In [ ]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

### Split Data Training dan Testing

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

## Training dan Evaluasi Model

In [ ]:
# Kita akan menggunakan CategoricalNB untuk kasus ini
from sklearn.naive_bayes import CategoricalNB
from sklearn.metrics import accuracy_score

# Inisasi CategoricalNB
cnb = CategoricalNB()

# Fit model
# Label y harus dalam bentu 1D atau (n_samples,)
cnb.fit(X_train, y_train)

# Prediksi dengan data training
y_train_pred = cnb.predict(X_train)

# Evaluasi akurasi training
acc_train = accuracy_score(y_train, y_train_pred)

# Prediksi test data
y_test_pred = cnb.predict(X_test)

# Evaluasi model dengan metric akurasi
acc_test = accuracy_score(y_test, y_test_pred)

# Print hasil evaluasi
print(f'Hasil akurasi data train: {acc_train}')
print(f'Hasil akurasi data test: {acc_test}')

Hasil akurasi data train: 0.7841451766953199
Hasil akurasi data test: 0.7633587786259542